.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Agar teks berada di tengah layar penuh */
    text-align: center;
}
